.label{
	-fx-font-size: 15px;
}

#Images:hover {
    
}

#label1{
	-fx-font-weight: bold;
}

#finalBox{
	-fx-border-style: solid;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-background-color: azure;
}

#buttonStMac{
	  -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
#tabMac{
	  -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-text-fill: #242d35;
   
}
#stageMac{
	  -fx-background-color:rgb(255,255,255);
    -fx-text-fill: #242d35;
   
}
#printOptionsBox{
	-fx-border-style: dotted ;
	-fx-border-width: 1;
	-fx-border-color: black;
}